<div class="container">
    <form [formGroup]="newProjectFormGroup" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="project-name">Project name</label>
        <input
          type="text"
          class="form-control"
          id="project-name"
          placeholder="eg. Aand The"
          formControlName="name"
        />
        <span
          *ngIf="
            newProjectFormGroup.get('name')?.invalid &&
            newProjectFormGroup.get('name')?.touched
          "
          errorText
        >
          Please fill project's name</span
        >
      </div>
      <div class="form-group">
        <label for="project-name">Project code</label>
        <input
          type="text"
          class="form-control"
          id="project-code"
          placeholder="eg. ABC-X"
          formControlName="code"
        />
        <span
        *ngIf="
          newProjectFormGroup.get('code')?.invalid &&
          newProjectFormGroup.get('code')?.touched
        "
        errorText
      >
      Please fill project's code</span
      >
      </div>
      <button class="btn btn-primary" [disabled]="!newProjectFormGroup.valid">
        Save
      </button>
    </form>
  </div>
  