<ng-container *ngIf="scrumData?.length == 0; else elseTemplate">
  <ng-container *ngIf="isLoading || hasError; else elseTemplate">
    <div class="container">
      <h1 class="no-record-text" *ngIf="isLoading">Load information...</h1>
      <h1 class="no-record-text" *ngIf="hasError">Something went wrong!</h1>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="container">
      <h1 class="no-record-text">Please add new log!</h1>
    </div>
  </ng-template>
</ng-container>
<ng-template #elseTemplate>
  <div class="container" *ngFor="let item of scrumData; index as i">
    <record-card [data]="item"></record-card>
  </div>
</ng-template>
