<div class="card-padding">
  <div class="card" >
    <div class="card-header">
      <strong>{{ data.date }}</strong>
    </div>
    <div class="card-body">
      <h4 class="card-title">
        <strong>Project:</strong> {{ data.project }} <strong>Type:</strong>
        {{ data.type }}
      </h4>
      <h4 class="card-title"><strong>Description:</strong></h4>
      <p class="card-text">
        {{ data.description }}
      </p>
      <div class="row justify-content-center" style="padding-top: 20px">
        <div class="col-2">
          <button class="btn" style="background: green; color: white" (click)="onEdit()">
            Edit
          </button>
        </div>
        <button class="btn" style="background: red; color: white" (click)="onDelete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
