<div class="container">
  <ng-container *ngIf="projectList.length == 0; else elseTemplate">
    <ng-container *ngIf="isLoading || hasError; else elseTemplate">
      <h1 class="no-record-text" *ngIf="isLoading">Load information...</h1>
      <h1 class="no-record-text" *ngIf="hasError">Something went wrong!</h1>
    </ng-container>
    <ng-template #elseTemplate>
      <h1 class="no-record-text">You have no record!</h1>
    </ng-template>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="row justify-content-md-end chart-top-padding">
      <button class="btn btn-primary" (click)="onNewProject()">
        + new Project
      </button>
    </div>
    <div class="row justify-content-center chart-top-padding">
      <div class="col-6">
        <ngx-charts-pie-chart
          [view]="[600, 400]"
          [arcWidth]="0.75"
          [doughnut]="true"
          [results]="projectData"
          [legendTitle]="'Project code'"
          [legend]="true"
          [gradient]="true"
        >
        </ngx-charts-pie-chart>
      </div>
    </div>
  </ng-template>
  <div class="chart-top-padding manday-detail-bottom-padding">
    <p *ngFor="let project of projectList" id="description">
      {{ project | mandaysDescriptionPipe }}
    </p>
  </div>
</div>
