<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 (click)="onSudo()" >My Scrum Log Naja</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/new_record'" class="tab-menu"> new Log </a>
        <a mat-button [routerLink]="'/summary'" class="tab-menu"> Summary </a>
        <a mat-button [routerLink]="'/history'" class="tab-menu"> History </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>