<div class="container" id="record-card">
  <form [formGroup]="scrumForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-4 top-padding">
        <div>
          <label>Date</label>
          <input
            id="date"
            type="date"
            class="form-control input-size-and-border"
            [formControlName]="'date'"
            placeholder="วันที่"
          />
          <span
            *ngIf="
              scrumForm.get('date')?.invalid && scrumForm.get('date')?.touched
            "
            errorText
          >
            Please fill date</span
          >
        </div>
        <div>
          <label class="top-padding">Project</label><br />
          <ng-container *ngIf="!loadingProject; else elseTemplate">
            <select
              id="project"
              class="form-select form-control form-select-sm input-size-and-border"
              aria-label=".form-select-sm example"
              formControlName="project"
            >
              <option value="">Select project</option>
              <option *ngFor="let project of projectsList" value="project.name">
                {{ project.name }}
              </option>
            </select>
          </ng-container>
          <ng-template #elseTemplate> Loading... </ng-template>
          <span
            *ngIf="
              scrumForm.get('project')?.invalid &&
              scrumForm.get('project')?.touched
            "
            errorText
          >
            Please select project</span
          >
        </div>
      </div>
      <div class="col-3 top-padding">
        <label>Type</label><br />
        <select
          id="type"
          class="form-control form-select form-select-lg input-size-and-border"
          formControlName="type"
        >
          <option value="">Select task type</option>
          <option value="Implement">Implement</option>
          <option value="Presale">Presale</option>
        </select>
        <span
          *ngIf="
            scrumForm.get('type')?.invalid && scrumForm.get('type')?.touched
          "
          errorText
          >Please select type</span
        >
      </div>
    </div>
    <div class="row justify-content-center top-padding">
      <div class="col-7">
        <label class="top-padding">Task Description</label><br />
        <textarea
          class="form-control description-input-size-and-border"
          id="description"
          [formControlName]="'description'"
        ></textarea>
        <span
          *ngIf="
            scrumForm.get('description')?.invalid &&
            scrumForm.get('description')?.touched
          "
          errorText
        >
          Please fill information</span
        >
      </div>
    </div>

    <div class="row justify-content-center top-padding">
      <button class="btn btn-primary" [disabled]="scrumForm.invalid">
        Save
      </button>
    </div>
  </form>
</div>
